.unordered-list{
    list-style-type: none;
    display: flex;
    max-width: 90vw;
    overflow-x: scroll;
}
.top-seller-container{
    padding-top:30px;
    padding-left: 40px;
}
.top-seller-heading{
    margin-bottom: 20px;
    margin-left: 20px;
}

@media (max-width: 450px) {
    .top-seller-container{
        padding-left: 0px;
    }
    .top-seller-heading{
        padding-left: 0px;
        margin-left: 10px;
    }
}